* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-900: clamp(1.5rem, 4vh, 2rem);
    --fs-400: 1rem;
    --fs-600: 1.5rem;
    --bg-color: #000;

    --padding: 15px;
    --padding-xl: 20px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #1b1818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calc-container {
    display: flex;
    min-width: 40vw;
    min-height: 45vh;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 28, 28);
    box-shadow: 9px 9px 7px -7px rgba(19, 18, 18, 0.849);
    border-radius: 15px;
    padding: 25px;
}

.calc-container p:first-child {
    color: rgb(140, 59, 216);
    font-size: var(--fs-900);
    font-weight: 800;
    margin-top: 25px;
}

.calc-container p:nth-child(2) {
    color: #fff;
    font-size: var(--fs-400);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

span {

    flex-wrap: row nowrap;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-value {
    padding: var(--padding);
    min-width: 400px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(51, 49, 49, 0.918);
}

select {
    padding: var(--padding);
    border: 5px rgb(140, 59, 216);
    border-radius: 5px;
    margin-top: 10px;
    font-size: var(--fs-400);
    color: #fff;
    background-color: rgba(51, 49, 49, 0.918);
}

button {
    padding: var(--padding);
    border: 5px rgb(140, 59, 216);
    border-radius: 5px;
    background-color: grey;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    font-size: var(--fs-400);
    cursor: pointer;
}

button:focus {
    background-color: blueviolet;
    color: #fff;
}

.input-result {
    padding: var(--padding-xl);
    min-width: 400px;
    height: 70px;
    flex-flow: row wrap;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(51, 49, 49, 0.918);
    text-align: center;
}